google-auth-oauthlib
google-auth-httplib2 
google-api-python-client 
pygsheets 
pandas 
numpy 
requests
streamlit
nltk
mtranslate
scikit-learn
seaborn
matplotlib
sentence-transformers
gspread
oauth2client
google-auth
db-dtypes
pyarrow
streamlit-aggrid
